.home-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fde1ff 60%, #e1ffea22 90%);
}

.home1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.img {
  max-width: 100%;
  height: auto;
}
